# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Test / coverage
coverage
playwright-report
test-results
storybook-static

# TypeScript
*.tsbuildinfo

# Analyzer
dist/stats.html
